<a href="https://colab.research.google.com/github/Dapo-dev/SpringMVC/blob/master/DNN_BOSTON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **載入套件**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras import models
from keras import layers
from sklearn.neural_network import MLPRegressor

# **資料輸入**

In [2]:
from google.colab import files
uploaded=files.upload()

Saving boston.csv to boston.csv

In [3]:
data=pd.read_csv('boston.csv',header=0)
data.head()

    CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.006  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.027   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.027   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.032   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.069   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

# **資料編碼（標準化）**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
data=data.astype(np.float32)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float32
 1   ZN       506 non-null    float32
 2   INDUS    506 non-null    float32
 3   CHAS     506 non-null    float32
 4   NOX      506 non-null    float32
 5   RM       506 non-null    float32
 6   AGE      506 non-null    float32
 7   DIS      506 non-null    float32
 8   RAD      506 non-null    float32
 9   TAX      506 non-null    float32
 10  PTRATIO  506 non-null    float32
 11  B        506 non-null    float32
 12  LSTAT    506 non-null    float32
 13  MEDV     506 non-null    float32
dtypes: float32(14)
memory usage: 27.8 KB

In [6]:
cols_to_norm = ['CRIM', 'ZN', 'INDUS', 'CHAS','NOX', 'RM','AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data[cols_to_norm] = data[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min())*0.6+0.2)

In [7]:
data.head()

       CRIM     ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT      MEDV
0  0.200000  0.308  0.240689   0.2  ...  0.372340  0.800000  0.253808  0.453333
1  0.200142  0.200  0.345381   0.2  ...  0.531915  0.800000  0.322682  0.421333
2  0.200142  0.200  0.345381   0.2  ...  0.531915  0.793842  0.238079  0.596000
3  0.200175  0.200  0.237830   0.2  ...  0.589362  0.796566  0.220033  0.578667
4  0.200425  0.200  0.237830   0.2  ...  0.589362  0.800000  0.259603  0.616000

[5 rows x 14 columns]

# **擷取分析資料欄位**

In [8]:
y=data['MEDV']

In [9]:
data =data.drop(['MEDV'],axis=1)

# **分割資料：訓練與測試**

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y,test_size=0.33, random_state=101)

In [11]:
X_train,y_train

(         CRIM     ZN     INDUS  CHAS  ...       TAX   PTRATIO         B     LSTAT
 178  0.200405  0.200  0.278959   0.2  ...  0.324809  0.455319  0.791482  0.285927
 447  0.266892  0.200  0.587977   0.2  ...  0.748473  0.685106  0.787322  0.443543
 445  0.271930  0.200  0.587977   0.2  ...  0.748473  0.685106  0.264663  0.568377
 359  0.228695  0.200  0.587977   0.2  ...  0.748473  0.685106  0.790680  0.381126
 281  0.200209  0.320  0.263123   0.2  ...  0.233206  0.346808  0.792935  0.247351
 ..        ...    ...       ...   ...  ...       ...       ...       ...       ...
 63   0.200816  0.350  0.302713   0.2  ...  0.311069  0.653192  0.798003  0.328642
 326  0.202003  0.200  0.352199   0.2  ...  0.314504  0.646809  0.800000  0.273179
 337  0.200162  0.200  0.304032   0.2  ...  0.242366  0.685106  0.796838  0.346192
 11   0.200749  0.275  0.362977   0.2  ...  0.341985  0.365957  0.800000  0.391060
 351  0.200499  0.560  0.227053   0.2  ...  0.456489  0.563830  0.760482  0.262252

 [339 rows x 13 columns], 178    0.532000
 447    0.301333
 445    0.290667
 359    0.434667
 281    0.605333
          ...
 63     0.466667
 326    0.440000
 337    0.380000
 11     0.385333
 351    0.454667
 Name: MEDV, Length: 339, dtype: float32)

In [12]:
X_test,y_test

(         CRIM     ZN     INDUS  CHAS  ...       TAX   PTRATIO         B     LSTAT
 195  0.200054  0.680  0.200000   0.2  ...  0.277863  0.314894  0.795960  0.220530
 4    0.200425  0.200  0.237830   0.2  ...  0.240076  0.589362  0.800000  0.259603
 434  0.293787  0.200  0.587977   0.2  ...  0.748473  0.685106  0.351763  0.422517
 458  0.252238  0.200  0.587977   0.2  ...  0.748473  0.685106  0.611352  0.440066
 39   0.200148  0.650  0.254765   0.2  ...  0.274427  0.563830  0.798079  0.242881
 ..        ...    ...       ...   ...  ...       ...       ...       ...       ...
 257  0.204087  0.320  0.277199   0.2  ...  0.288168  0.225532  0.789107  0.256126
 349  0.200155  0.440  0.217375   0.2  ...  0.369466  0.653192  0.789334  0.268874
 289  0.200250  0.515  0.306892   0.2  ...  0.321374  0.455319  0.761904  0.328808
 121  0.200445  0.200  0.754032   0.2  ...  0.201145  0.614894  0.770906  0.407616
 9    0.201106  0.275  0.362977   0.2  ...  0.341985  0.365957  0.784583  0.454470

 [167 rows x 13 columns], 195    0.800000
 4      0.616000
 434    0.289333
 458    0.332000
 39     0.544000
          ...
 257    0.800000
 349    0.488000
 289    0.464000
 121    0.404000
 9      0.385333
 Name: MEDV, Length: 167, dtype: float32)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 339 entries, 178 to 351
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     339 non-null    float32
 1   ZN       339 non-null    float32
 2   INDUS    339 non-null    float32
 3   CHAS     339 non-null    float32
 4   NOX      339 non-null    float32
 5   RM       339 non-null    float32
 6   AGE      339 non-null    float32
 7   DIS      339 non-null    float32
 8   RAD      339 non-null    float32
 9   TAX      339 non-null    float32
 10  PTRATIO  339 non-null    float32
 11  B        339 non-null    float32
 12  LSTAT    339 non-null    float32
dtypes: float32(13)
memory usage: 19.9 KB

# **NN模式建立**

## **模式執行與評估 (學習調整以下的數字)**

In [14]:
nn=MLPRegressor(hidden_layer_sizes=(10),  #預設值1層,數目100
         activation='logistic',  #{'identity'無，'logistic'為sigmoid，'tanh'，'relu'}，預設='relu'
         solver='sgd',   #{'lbfgs'牛頓，'sgd'隨機梯度，'adam'隨機梯度優化}，預設='adam'
         batch_size='auto',  #'auto'為min(200～樣本數)
         learning_rate='constant',  #constant固定'，'invscaling隨著時間遞減'，'adaptive誤差減少時不改變'}，預設 ='constant' 
         learning_rate_init=0.001, #優化器為sgd、adam使用
         power_t=0.5,     # 優化器為sgd，則可以設定強化學習率   
         max_iter=200,    #訓練次數
         shuffle=True,    #隨機設定權重
         random_state=1,   #隨機的基礎值
         momentum=0.9)

In [15]:
nn.fit(X_train, y_train)
y_pred=nn.predict(X_train)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt
import numpy as np

MSE = mean_squared_error(y_train, y_pred)
print('MSE=',MSE)
RMSE =np.sqrt(MSE)
print('RMSE=',RMSE)
MAE= mean_absolute_error(y_train, y_pred)
print('MAE=',MAE)

R2=1-MSE/np.var(y_train)
print("R2:", R2)

MSE= 0.013282624073080864
RMSE= 0.11525026712802389
MAE= 0.08269245168435227
R2: -0.022171535280032906

## **測試結果**

In [ ]:
y_pred=nn.predict(X_test)
y_pred

array([0.43118663, 0.43690021, 0.42437153, 0.43384784, 0.43004176,
       0.43701367, 0.4311619 , 0.4248952 , 0.41203742, 0.43834605,
       0.42916903, 0.41487008, 0.42268299, 0.43832946, 0.42695385,
       0.43756954, 0.42601235, 0.42890997, 0.42775482, 0.4319757 ,
       0.44335214, 0.42971682, 0.42480662, 0.43262756, 0.42825678,
       0.44006542, 0.41784597, 0.4141388 , 0.42021893, 0.42883369,
       0.43725671, 0.43287846, 0.42798163, 0.41068132, 0.43532445,
       0.42211343, 0.41939735, 0.43605926, 0.42204937, 0.43910784,
       0.43646654, 0.44052737, 0.42440019, 0.44337111, 0.43288511,
       0.4301748 , 0.43010711, 0.41445571, 0.43511763, 0.44289291,
       0.43530712, 0.41591666, 0.41073393, 0.41750789, 0.42754102,
       0.44480744, 0.42361568, 0.43189366, 0.41011464, 0.42406075,
       0.42760514, 0.41710375, 0.44331519, 0.43312028, 0.41816646,
       0.42903151, 0.42398831, 0.42669543, 0.44028312, 0.43618924,
       0.42841194, 0.43779669, 0.40159978, 0.41442709, 0.42064062,
       0.38511777, 0.4106858 , 0.43980985, 0.42886883, 0.44135989,
       0.43708405, 0.44115819, 0.42893444, 0.44201642, 0.43968813,
       0.42820114, 0.43789876, 0.42664446, 0.43023698, 0.41754026,
       0.44301628, 0.4237418 , 0.44113889, 0.43634216, 0.44424224,
       0.4309444 , 0.424107  , 0.43417191, 0.4442319 , 0.43003165,
       0.43419095, 0.43096281, 0.4358953 , 0.41903275, 0.43850982,
       0.43295616, 0.43160067, 0.4388082 , 0.43171757, 0.43935323,
       0.4306224 , 0.431626  , 0.42508873, 0.43300361, 0.43225675,
       0.43243865, 0.43124245, 0.42486664, 0.40967299, 0.42995694,
       0.4164851 , 0.43144383, 0.43075919, 0.41047458, 0.43774109,
       0.43567949, 0.41671774, 0.44320663, 0.40424737, 0.43156524,
       0.42492035, 0.42689153, 0.43675687, 0.42572224, 0.43352237,
       0.4064542 , 0.42202959, 0.43473285, 0.42504354, 0.43244706,
       0.42434677, 0.42362728, 0.43316295, 0.4155717 , 0.43100417,
       0.43228607, 0.43317189, 0.42168769, 0.41539564, 0.42680515,
       0.43452818, 0.43923636, 0.4277021 , 0.42082776, 0.43536031,
       0.43179092, 0.43819809, 0.43486645, 0.43938506, 0.43026373,
       0.43117994, 0.41554714, 0.43132995, 0.43432462, 0.43073121,
       0.40921857, 0.43750274])

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt
import numpy as np

MSE = mean_squared_error(y_test, y_pred)
print('MSE=',MSE)
RMSE =np.sqrt(MSE)
print('RMSE=',RMSE)
MAE= mean_absolute_error(y_test, y_pred)
print('MAE=',MAE)

R2=1-MSE/np.var(y_test)
print("R2:", R2)

MSE= 0.019394068409009365
RMSE= 0.1392625879732578
MAE= 0.10017106426996207
R2: -0.053248698792018656

In [ ]:
ytest = []
for value in y_test:
    ytest.append(value)
count=0
errvalue=abs((ytest-y_pred)/ytest)
errvalue

array([0.46101672, 0.29074641, 0.46672184, 0.30677054, 0.2094821 ,
       0.28902335, 0.46104763, 0.37358367, 0.39760612, 0.77707854,
       0.03917385, 0.33541866, 0.04970937, 0.14946532, 0.12356277,
       0.13409727, 0.56622178, 0.16446108, 0.1645414 , 0.02120315,
       0.45839509, 0.01668016, 0.45481722, 0.18062962, 0.32094591,
       0.103843  , 0.19645012, 0.10930034, 0.47472635, 0.27886711,
       0.0438993 , 0.15127244, 0.40558109, 0.48664835, 0.19780508,
       0.02888021, 0.3051784 , 0.33487521, 0.72030996, 0.22510381,
       0.04562709, 0.07972398, 0.40836403, 0.54664326, 0.08583217,
       0.04547012, 0.16645915, 0.11813585, 0.03735042, 0.22751243,
       0.2133004 , 0.02213949, 0.12427176, 0.25252362, 0.28264931,
       0.40170409, 0.04510445, 0.09803469, 0.05066059, 0.18673717,
       0.25243859, 0.28208121, 0.11336963, 0.07920336, 0.71379696,
       0.14193698, 0.09145367, 0.18089139, 0.57996329, 0.14786644,
       0.10037304, 0.06953586, 0.11555491, 0.06445306, 0.14964839,
       0.12827472, 0.48664276, 0.35187458, 0.01935483, 0.92453436,
       0.2805197 , 0.12158859, 0.18350046, 0.30516656, 0.24440031,
       0.07768746, 0.04593655, 0.2381349 , 0.07009302, 0.19982836,
       0.55991641, 0.24143107, 0.05470244, 0.20181314, 1.22121115,
       0.46131951, 0.29300911, 0.2172382 , 1.22115945, 0.04376615,
       0.21908111, 0.0738276 , 0.01214082, 0.04184587, 0.11108904,
       0.02193641, 0.04230619, 0.27509665, 0.40914564, 0.20789686,
       0.09852647, 0.44473498, 0.08122038, 0.08250892, 0.24076688,
       0.01352806, 0.00482512, 0.18503842, 0.0909623 , 0.05434691,
       0.33488812, 0.23504909, 0.04553202, 0.27392472, 0.05387378,
       0.00981933, 0.49539853, 0.64556916, 0.31249135, 0.03091637,
       0.00719545, 0.28692958, 0.07399222, 0.07451694, 0.18306083,
       0.12902677, 0.09822747, 0.01890509, 0.43777313, 0.06689241,
       0.36008578, 0.39250391, 0.31171145, 0.09746046, 0.07111167,
       0.08432957, 0.06868063, 0.16990614, 0.01481016, 0.18132005,
       0.18507682, 0.00774921, 0.46537239, 0.4739653 , 0.04653917,
       0.00355942, 0.09185572, 0.19908027, 0.1853913 , 0.07800635,
       0.09994876, 0.1095419 , 0.46083757, 0.10999059, 0.07169995,
       0.01291729, 0.13538767])

In [ ]:
threshold=0.01  #門檻值
for i in range(len(errvalue)):
  if errvalue[i]<0.01:           
    count=count+1
print("通過門檻筆數",count)
print("通過門檻百分比",count/len(errvalue))

通過門檻筆數 5
通過門檻百分比 0.029940119760479042

167

# **DNN模式建立**

In [ ]:
dnn=

SyntaxError: ignored

## **模式執行與評估**

## **測試結果**